.img-max-b {
  width: 100%;
}

.index_pro {
  margin-top: 30px;
}

.index_pro ul li:first-child div {
  background-color: #22a7f0;
  color: #fff;
}

.index_pro ul li:first-child div p {
  line-height: 30px;
  text-indent: 2em;
  padding: 15px;
}

.index_pro ul li:first-child div span {
  display: block;
  text-align: center;
  line-height: 73px;
}

.index_pro ul .index_pro_li:hover a p {
  background-color: #22a7f0 !important;
  border-color: #22a7f0 !important;
  color: #fff !important;
}

.index_pro ul .index_pro_li a {
  background-color: #eee;
  display: block;
  text-align: center;
}

.index_pro ul .index_pro_li a .xs12 {
  background-color: #eee;
}

.index_pro ul .index_pro_li a .xs12 p {
  display: inline-block;
  color: #646464;
  border: 1px solid #aaa;
  padding: 7px 30px;
  margin-top: 18px;
  margin-bottom: 29px;
  line-height: 14px;
}

#index h3 {
  font-size: 18px;
  color: #323232;
  padding-top: 24px;
  line-height: 24px;
}

.big_tit {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
  color: #fff;
}

.linew {
  width: 90px;
  height: 2px;
  background-color: #fff !important;
  margin: 0 auto 7px;
}

.img-cen {
  margin: 0 auto;
}

.ask {
  margin-top: 30px;
}

.ask p:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #525252;
}

.ask p:last-child {
  font-size: 26px;
  font-weight: bold;
  color: #22a7f0 !important;
}

.ask .xb3 {
  text-align: center;
}

.ask .xb3 span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #fefefe;
  background-color: #22a7f0 !important;
  padding: 7px 35px;
  border-radius: 23px;
}

.sec2 {
  background: url("../img/bg2.jpg") repeat-y center top;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.sec2 .container {
  padding-top: 22px;
}

.sec2 .container ul li:hover div h3 {
  color: #22a7f0 !important;
}

.sec2 .container ul li div {
  padding: 0 35px 25px;
  margin-bottom: 30px;
}

.sec2 .container ul li div h3 {
  line-height: 18px;
  padding-bottom: 4px;
}

.sec2 .container ul li div p {
  margin-bottom: 0;
  line-height: 30px;
  color: #323232 !important;
}

.sec3 .xb6 h2 {
  font-size: 24px;
  color: #22a7f0 !important;
  margin-bottom: 26px;
}

.sec3 .xb6 ul li {
  font-size: 16px;
  line-height: 45px;
  padding-left: 20px;
}

.sec3 .xb6 ul li:hover:not(:first-child) {
  background-color: #22a7f0 !important;
}

.sec3 .xb6 ul li:hover:not(:first-child) a {
  color: #fff;
}

.sec3 .xb6 ul li a {
  color: #525252;
  display: block;
}

.sec3 .xb6 ul li:nth-child(odd) {
  background-color: #f1f1f1;
}

.sec3 .xb6 ul li:first-child {
  padding: 26px 25px 22px 20px;
}

.sec3 .xb6 ul li:first-child a {
  color: #323232 !important;
}

.sec3 .xb6 ul li:first-child a p:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #22a7f0 !important;
}

.sec3 .xb6 ul li:first-child a p:last-child {
  color: #323232 !important;
  line-height: 27px;
  font-size: 14px;
}

.sec3 .xb6 .ind-int {
  background-color: #f1f1f1;
  padding: 15px 20px;
  line-height: 30px;
  margin-bottom: 0;
  color: #525252;
}

.mbx {
  height: 35px;
  background-color: #f1f1f1;
}

.mbx * {
  color: #848484 !important;
}

.mbx a {
  line-height: 35px;
}

.abo_sec1 h1 {
  color: #22a7f0 !important;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 26px;
}

.abo_sec1 h1 span {
  font-size: 30px;
  font-weight: bold;
}

.abo_sec1 p {
  text-indent: 2em;
  line-height: 30px;
  color: #323232 !important;
  margin-top: 22px;
  margin-bottom: 0;
}

.abo_sec2 h1 {
  color: #22a7f0 !important;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 24px;
}

.abo_sec2 img {
  padding: 1px;
}

.abo_sec2 p {
  text-indent: 2em;
  line-height: 30px;
  color: #323232 !important;
  margin-top: 22px;
  margin-bottom: 0;
}

.abo_sec3 h1 {
  color: #22a7f0 !important;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 24px;
}

.abo_sec3 .tab .tab-head li a {
  color: #525252;
  font-size: 16px;
  line-height: 40px;
  display: block;
  text-align: center;
  background-color: #f1f1f1;
  border-right: 1px solid #dcdcdc;
}

.abo_sec3 .tab .tab-head li:last-child a {
  background-color: #b5b5b5;
  color: #323232;
}

.abo_sec3 .tab .tab-head li.active a {
  font-size: 16px;
  font-weight: bold;
  background-color: #22a7f0 !important;
  color: #fff;
}

.abo_sec3 .tab .tab-body li {
  line-height: 31px;
  color: #323232 !important;
  margin-top: 10px;
}

.gui_tit {
  color: #22a7f0 !important;
  margin-top: 39px;
}

.gui_tit .xb5 {
  font-size: 65px;
  padding-top: 8px;
}

.gui_tit .xb2 span {
  display: block;
}

.gui_tit .xb2 span:first-child {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 6px;
}

.gui_tit .xb2 span:last-child {
  font-size: 19px;
}

.gui_sec1 h1 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-top: 17px;
  padding-bottom: 30px;
}

.gui_sec1 h1 span a {
  font-size: 14px;
  float: right;
  color: #646464;
  padding-top: 14px;
}

.gui_sec1 h1 span a:hover {
  color: #22a7f0 !important;
}

.gui_sec1 .gui_bnew .xs9 {
  padding-top: 20px;
}

.gui_sec1 .gui_bnew .xs9 .title {
  font-size: 16px;
  color: #22a7f0 !important;
  font-weight: bold;
}

.gui_sec1 .gui_bnew .xs9 span {
  display: block;
  color: #646464;
  margin-bottom: 20px;
}

.gui_sec1 .gui_bnew .xs9 .content {
  line-height: 30px;
  color: #646464;
}

.gui_sec1 ul {
  margin-top: 45px;
}

.gui_sec1 ul li a {
  font-size: 16px;
  color: #525252;
  display: block;
  line-height: 45px;
  padding-left: 20px;
}

.gui_sec1 ul li:nth-child(odd) {
  background-color: #f1f1f1;
}

.gui_sec1 ul li:hover {
  background-color: #22a7f0 !important;
}

.gui_sec1 ul li:hover a {
  color: #fff;
}

.gui_sec2 h1 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-top: 17px;
  padding-bottom: 30px;
}

.gui_sec2 h1 span a {
  font-size: 14px;
  float: right;
  color: #646464;
  padding-top: 14px;
}

.gui_sec2 h1 span a:hover {
  color: #22a7f0 !important;
}

.gui_sec2 ul li {
  padding-bottom: 30px;
}

.gui_sec2 ul li a {
  padding: 20px;
  display: block;
  background-color: #f1f1f1;
}

.gui_sec2 ul li a .title {
  font-size: 16px;
  color: #22a7f0 !important;
  font-weight: bold;
}

.gui_sec2 ul li a .content {
  line-height: 27px;
  color: #323232;
}

.gui_sec2 ul li a:hover {
  background-color: #22a7f0 !important;
}

.gui_sec2 ul li a:hover * {
  color: #fff !important;
}

.gui_sec3 h1 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-top: 17px;
  padding-bottom: 30px;
}

.gui_sec3 h1 span a {
  font-size: 14px;
  float: right;
  color: #646464;
  padding-top: 14px;
}

.gui_sec3 h1 span a:hover {
  color: #22a7f0 !important;
}

.gui_sec3 ul li a {
  font-size: 16px;
  color: #525252;
  display: block;
  line-height: 45px;
}

.gui_sec3 ul li a span {
  float: right;
}

.gui_sec3 ul li:nth-child(odd) a {
  background-color: #f1f1f1;
}

.gui_sec3 ul li:hover a {
  background-color: #22a7f0 !important;
  color: #fff;
}

.gui_a_sec1 h1.title {
  color: #22a7f0 !important;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.gui_a_sec1 p.title {
  text-align: center;
  color: #646464;
  padding-bottom: 15px;
  border-bottom: 1px dashed #646464;
}

.gui_a_sec2 {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
}

.gui_a_sec2 p {
  line-height: 40px;
  margin: 0;
}

.gui_a_sec2 img {
  margin-bottom: 20px;
  margin-top: 20px;
}

.gui_a_sec3 p {
  color: #646464;
  line-height: 40px;
  margin: 0;
}

#guide aside h2, #product .tab-panel h2, #case aside h2 {
  font-size: 18px;
  color: #22a7f0 !important;
  margin: 30px 0;
  font-weight: bold;
}

#guide aside div, #product .tab-panel div, #case aside div {
  background-color: #f7f7f7;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

#guide aside div p, #product .tab-panel div p, #case aside div p {
  padding-left: 15px;
}

#guide aside div .title, #product .tab-panel div .title, #case aside div .title {
  color: #22a7f0 !important;
  font-size: 16px;
  margin: 0;
  padding: 14px 0 10px 15px;
}

#guide aside div .intro, #product .tab-panel div .intro, #case aside div .intro {
  color: #646464;
  margin: 0;
  line-height: 25px;
  font-size: 14px;
}

#product .tab {
  margin-top: 40px;
}

#product .tab .tab-head {
  margin-bottom: 30px;
}

#product .tab .tab-nav li a {
  font-size: 18px;
  font-weight: bold;
  color: #22a7f0 !important;
  display: block;
  text-align: center;
  background-color: #f1f1f1;
  line-height: 48px;
}

#product .tab .tab-nav li.active a {
  background-color: #22a7f0 !important;
  color: #fff !important;
}

#product .pro_intro {
  margin-top: 40px;
}

#product .pro_intro h1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background-color: #22a7f0 !important;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

#product .pro_intro .r-intro p {
  margin: 0;
  line-height: 28px;
  margin-bottom: 8px;
  color: #646464;
}

#product .pro_intro .r-intro p span {
  color: #22a7f0 !important;
  font-weight: bold;
}

#product .pro_intro .bt button {
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  background-color: #22a7f0 !important;
  padding: 0;
  border: none;
  border-radius: 0;
}

#product .pro_intro .call {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  text-align: center;
  margin: 0;
  line-height: 40px;
}

#product .pro_intro .call img {
  padding-bottom: 5px;
  padding-right: 15px;
}

#product .pro_h3 {
  font-size: 18px;
  font-weight: bold;
  color: #22a7f0 !important;
  background: url("../img/xsj.png") no-repeat left center;
  padding-left: 30px;
}

#product .pro_h3.m {
  margin-bottom: 30px;
  margin-top: 30px;
}

#product .pro_sec2 {
  margin-top: 45px;
  color: #646464;
}

#product .pro_sec2 p {
  margin: 0;
  line-height: 38px;
}

#product .pro_sec2 ul li {
  line-height: 38px;
}

#product .pro_sec3 {
  background-color: #f6f6f6;
  padding-top: 25px;
  padding-bottom: 25px;
}

#product .pro_sec3 p {
  color: #646464;
  line-height: 31px;
}

#product .product-params td, #product .product-params th {
  border: 1px solid #eee;
  vertical-align: middle;
}

#product .pro_sec4 a {
  font-size: 16px;
  display: block;
  color: #646464;
  text-align: center;
}

#product .pro_sec4 a:hover {
  color: #22a7f0 !important;
}

#product .pro_sec5 h2 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #22a7f0;
}

aside h3 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  margin-top: 35px;
}

aside a {
  color: #323232 !important;
  font-size: 16px;
  display: block;
}

aside div.xb12 {
  margin-top: 15px;
}

aside ul li {
  line-height: 45px;
}

form * {
  letter-spacing: -4px;
}

form input:not(.sub), form select {
  letter-spacing: normal;
  line-height: 41px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  width: 88%;
  padding-left: 15px;
}

form select {
  height: 45px;
}

form div {
  margin-bottom: 25px;
}

form .mes img {
  float: left;
}

form .mes textarea {
  width: 94.2%;
  letter-spacing: normal;
}

form .sub {
  float: right;
  letter-spacing: normal;
  font-size: 16px;
  background-color: #0085ce;
  border: none;
  line-height: 40px;
  color: #fff;
}

#case article.container.tab {
  margin-top: 30px;
}

#case .case_r {
  padding-left: 15px !important;
}

#case .case_r p.intro {
  line-height: 30px;
  margin: 0;
}

#case .case_r p.title {
  font-size: 16px;
  color: #22a7f0 !important;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 10px;
}

#case .case_r p.title span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/yjt.jpg") no-repeat;
  vertical-align: middle;
  margin-bottom: 3px;
}

#case .case_list {
  margin-top: 30px;
}

#case .case_list div.clearfix {
  background-color: #f7f7f7;
}

#case .case_list div.clearfix a {
  display: block;
}

#case .case_list div.clearfix a div.case_l, #case .case_list div.clearfix a div.case_r {
  padding-left: 0;
  padding-right: 0;
}

#case .case_list div.clearfix a div.case_l p.intro, #case .case_list div.clearfix a div.case_r p.intro {
  color: #323232;
}

#case .case_list div.clearfix a:hover .case_r p.title span {
  background: url("../img/yjt2.jpg") no-repeat;
}

#case .case_list div.clearfix a:hover .case_r p.intro span {
  color: #22a7f0 !important;
}

#case .tab-nav li a {
  display: block;
  line-height: 54px;
  border: 1px solid #22a7f0 !important;
  font-size: 20px;
  font-weight: bold;
  color: #22a7f0 !important;
  text-align: center;
}

#case .tab-nav li.active a, #case .tab-nav li:hover a {
  background-color: #22a7f0 !important;
  color: #fff !important;
}

#case section.page {
  margin-top: 30px;
}

#case section.page li {
  border-radius: 0;
}

#case section.page li.active a {
  color: #fff;
  background-color: #22a7f0 !important;
}

#case section.page a {
  display: block;
  border-radius: 0;
}

#case section.page a:hover {
  color: #fff;
  background-color: #22a7f0 !important;
}

#case .bg {
  background-color: #f7f7f7;
  position: relative;
}

#case .bg .case_art {
  padding-bottom: 20px;
}

#case .bg .case_art + button {
  border: none;
  border-radius: 0;
  background-color: #22a7f0 !important;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

#case .bg .case_art + button span {
  margin-right: 15px;
}

#case .bg .case_art h3 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-top: 22px;
  padding-bottom: 17px;
}

#case .bg .case_art p {
  margin: 0;
  line-height: 31px;
}

#case .bg .case_art p span {
  color: #22a7f0 !important;
}

#case .case_art_sec2 {
  margin-top: 92px;
  margin-bottom: 30px;
}

#case .case_art_sec2 a {
  display: block;
  height: 55px;
  margin-top: 15%;
}

#case .case_art_sec2 a:first-child {
  background: url("../img/case_l.jpg") no-repeat left center;
}

#case .case_art_sec2 a:last-child {
  background: url("../img/case_r.jpg") no-repeat right center;
}

#case .case_art_sec3 h2, #case .case_art_sec4 h2 {
  color: #22a7f0 !important;
  font-weight: bold;
  margin-bottom: 15px;
}

#case .case_art_sec3 p, #case .case_art_sec4 p {
  line-height: 32px;
}

#case .case_art_sec5 h2 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #22a7f0;
}

#case aside h2 {
  margin-top: 0 !important;
  line-height: 17px;
}

#contact .con_sec1 {
  margin-top: 40px;
}

#contact .con_sec1 .long {
  height: 8px;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}

#contact .con_sec1 .long .xs3 {
  height: 8px;
  background-color: #22a7f0 !important;
}

#contact .con_sec1 h2 {
  color: #323232;
  font-size: 24px;
  font-weight: bold;
}

#contact .con_sec1 h2 span {
  color: #646464;
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
}

#contact .con_sec1 h2 + p {
  font-size: 16px;
  color: #646464;
  line-height: 30px;
  margin-top: 28px;
}

#contact .con_sec1 .xm4 {
  text-align: center;
  margin-top: 30px;
}

#contact .con_sec1 .xm4 p:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #22a7f0 !important;
  line-height: 32px;
}

#contact .con_sec1 .xm4 p:first-child img {
  margin-right: 15px;
}

#contact .con_sec1 .xm4 p:last-child {
  color: #646464;
}

#contact .con_sec1 .xb4:not(.dz) p img {
  margin-bottom: 5px;
}

#contact .con_sec2 h2 {
  font-size: 24px;
  font-weight: bold;
  color: #22a7f0 !important;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #22a7f0;
}

@media (min-width: 1200px) {
  .ask {
    padding-top: 45px !important;
  }
  .ask span {
    margin-top: 10px !important;
  }
}

@media (max-width: 1199px) {
  .sec3 .xb6 h2 {
    margin-top: 26px;
  }
  .rex {
    margin-bottom: 30px;
  }
  .img-max-m {
    width: 100%;
  }
  #case .case_r {
    padding-bottom: 15px !important;
  }
}

@media (min-width: 1000px) {
  .ask {
    background: url("../img/bg1.jpg") no-repeat left center;
    padding-left: 60px;
    padding-top: 30px;
    height: 155px;
  }
  .ask span {
    margin-top: 20px;
  }
  #case .case_art + button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .sec2 .container div {
    height: 200px;
  }
}

@media (max-width: 999px) {
  .ask {
    background-color: #f7f7f7;
    padding: 30px;
  }
  .ask p {
    line-height: 28px;
  }
  input:not(.sub), select {
    width: 85% !important;
  }
  .mes textarea {
    width: 93% !important;
  }
  .sub {
    float: left !important;
    width: 30%;
  }
  #case .case_art + button {
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .sec2 .container div {
    height: 250px;
  }
  .gui_bnew img {
    margin-top: 45px;
  }
}

@media (min-width: 768px) {
  .blueline {
    height: 3px;
    width: 100%;
    background-color: #22a7f0 !important;
  }
}

@media (max-width: 767px) {
  .index_pro_li {
    margin-bottom: 30px;
  }
  .ask {
    margin-top: 0;
  }
  .img-max {
    width: 100%;
  }
  .sec3 .xb6 h2 {
    margin-top: 25px;
  }
  .gui_bnew .title {
    margin-top: 15px;
  }
  input:not(.sub), select {
    width: 81% !important;
  }
  .mes textarea {
    width: 81% !important;
  }
  .sub {
    float: left !important;
    width: 96%;
  }
}
